{% extends 'blog/base.html' %}

{% block content %}
  <main class="main-content section-wrapper">
    <div class="section-content-wide">
      <div class="section-gap">

        {% if page_obj %}
        <div class="card-grid">
            {% for post in page_obj %}
              {% include 'blog/partials/_post-card.html' with i=forloop.counter0 %}
            {% endfor %}
          </div>
        {% else %}
        <div class='not-found center'>
          <h1>Nenhum post encontrado.</h1>
          <p>Por favor, tente outra pesquisa ou acesse a nossa
            <a href="{% url "blog:index" %}">Home</a><br>
            Caso este seja o seu primeiro acesso, clique <a href="http://127.0.0.1:8000/admin/">aqui</a><br>
          para ter acesso a área administrativa.</p>
        </div>
          {% endif %}
      </div>
    </div>
  </main>
{% endblock content %}